<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>264280087454-gc6vc0cir0l3dhll0t2t4b1ulc2s1i2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264280087454-gc6vc0cir0l3dhll0t2t4b1ulc2s1i2o</string>
	<key>API_KEY</key>
	<string>AIzaSyACB74no5bhzg6ZS1Otz7Vj1j43tUmFCxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>264280087454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sergio-Mejia.Petty</string>
	<key>PROJECT_ID</key>
	<string>petty-a1867</string>
	<key>STORAGE_BUCKET</key>
	<string>petty-a1867.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264280087454:ios:882e4f6e2fe247ba</string>
	<key>DATABASE_URL</key>
	<string>https://petty-a1867.firebaseio.com</string>
</dict>
</plist>